
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Intellectus_mvc.CompanyAuthManager.LoggedCompany == null)
{
    <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/Home/Login">Login</a></li>
}
else
{
    <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/Home/Logout">Logout</a></li>
}
